.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start; /* alinha pro topo. o padrão é tentar fazer com que as duas tenha a mesma altura */
}